.progress-bar-container {
  width: 500px;
  height: 20px;
  border: 1px solid black;
}
.progress {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-container {
  height: 1000px;
  width: 1000 px;
  text-align: center;
}
.opt-box {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  font-size: medium;
}
