.progress-bar-container {
  width: 500px;
  height: 20px;
  border: 1px solid black;
}
.progress {
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}
.otp-container {
  height: 1000px;
  width: 1000 px;
  text-align: center;
}
.opt-box {
  height: 50px;
  width: 50px;
  text-align: center;
  margin: 10px;
  font-size: medium;
}

.search-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  height: 100vh;
  /* width: 400px; */
}
.search-input {
  width: 400px;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}
.search-results-container {
  max-height: 800px;
  background-color: #654949;
  width: 400px;
  overflow: scroll;
}
